* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Agency FB";
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;

}

.df {
  display: flex;
}

.df_jcc {
  display: flex;
  justify-content: center;
}

.df_jcc_aic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first__screen {
  background-color: black;
  height: 100vh;
  color: white;
  padding: 20px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first__screen__ul {
  justify-content: space-between;
}

.first__screen__ul li {
  text-transform: uppercase;
}
.first__screen {
  user-select: none;
}

.first__screen__ul li button {
  /*padding: 10px;*/
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  font-family: "Agency FB";
  width: 90px;
  height: 30px;
  font-size: 16px;
}

.first__screen__about__p {
  width: 500px;
  font-size: 16px;
  text-transform: uppercase;
}

.first__screen__scroll__p {
  text-transform: uppercase;
}

.first__screen__about__scroll {
  justify-content: space-between;
  align-items: end;
}

.first__screen__text  h1{
  width: 100%;
  text-transform: uppercase;
  font-size: 17em;
  letter-spacing: -9px;
  margin-top: 0;
  margin-bottom: 0;
}

.first__screen__about__scroll__text {
  flex-direction: column;
  justify-content: right;
}

.text-container p {
 color: #F5E1E1;
}


.text-container {
  font-size: 70px;
  width: 100%;
  line-height: 150px;
  overflow-x: hidden;
}

.second_screen{
  /*margin: 20px;*/
  background-color: black;
  /*border: 2px solid #fff;*/
}


.second_screen {
  background-image: url("./assets/me.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}

.third_screen {
  background-color: black;
  padding: 20px;
}

.third_screen h1 {
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 65px;
  margin-top: 200px;
  margin-bottom: 70px;
}


.third_screen hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #312f2f;
  margin: 1em 0;
  padding: 0;
}

.third_screen__texts p, li{
  text-transform: uppercase;
}

.third_screen__texts {
  margin-top: 50px;
  flex-wrap: wrap;
}

.third_screen__texts p:first-child {
  width: 37%;
}

.third_screen__texts_ul {
  width: 48%;

}

.third_screen__texts_ul li {
  width: 400px;
}

.third_screen__texts_ul li:last-child {
  margin-top: 40px;
}

.third_screen__texts ul:last-child li{
  margin-top: 20px;
}