* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-transform: uppercase;
  font-family: "Agency FB";
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;

}

.df {
  display: flex;
}

.df_jcc {
  display: flex;
  justify-content: center;
}

.df_jcc_aic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first__screen {
  background-color: black;
  height: 100vh;
  color: white;
  padding: 20px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first__screen__ul {
  justify-content: space-between;
}

.first__screen {
  user-select: none;
}

.first__screen__ul li button {
  /*padding: 10px;*/
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  font-family: "Agency FB";
  width: 90px;
  height: 30px;
  font-size: 16px;
}

.first__screen__about__p {
  width: 500px;
  font-size: 16px;
}

.first__screen__scroll__p {
}

.first__screen__about__scroll {
  justify-content: space-between;
  align-items: end;
}

.first__screen__text {
  font-size: 12vw;

}

.first__screen__text  h1{
  /*letter-spacing: -9px;*/
  margin-top: 0;
  margin-bottom: 0;
}

.first__screen__about__scroll__text {
  flex-direction: column;
  justify-content: right;
}

.text-container p {
 color: #F5E1E1;
  font-size: 80px;
}


.text-container {
  font-size: 70px;
  width: 100%;
  line-height: 150px;
  overflow-x: hidden;
}

.second_screen{
  /*margin: 20px;*/
  background-color: black;
  /*border: 2px solid #fff;*/
}


.second_screen {
  background-image: url("./assets/me.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}

.third_screen {
  background-color: black;
  padding: 20px;
}

.third_screen h1 {
  font-size: 50px;
  font-weight: 300;
  line-height: 65px;
  margin-top: 200px;
  margin-bottom: 70px;
}


.screen hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #312f2f;
  margin: 1em 0;
  padding: 0;
}

.third_screen__texts p, li{
}

.third_screen__texts {
  margin-top: 50px;
  flex-wrap: wrap;
}

.third_screen__texts p:first-child {
  width: 37%;
}

.third_screen__texts_ul {
  width: 48%;

}

.third_screen__texts_ul li {
  width: 400px;
}

.third_screen__texts_ul li:last-child {
  margin-top: 40px;
}

.third_screen__texts ul:last-child li{
  margin-top: 20px;
}

.fourth__screen {
  background-color: black;
  padding: 20px;
  padding-top: 150px;
}

.fourth__screen__container {
  padding: 20px;
  background-color: #c7c5c2;
  border-radius: 15px;
}

.fourth__screen__container p:first-child{
  padding-top: 50px;
  color: #000;
}

.fourth__screen__works {
  padding: 50px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: hidden;
}

.fourth__screen__work__img img {
  width: 93%;
  border-radius: 15px;
}

.fourth__screen__work {
  width: 49%;
  margin-bottom: 20px ;
  cursor: pointer;
}

.fourth__screen__work__img {
  padding: 30px 20px;
  border-radius: 15px;
  height: 450px;
  background: linear-gradient(150deg, rgba(2,0,36,1) 1%, rgba(0,212,255,1) 42%, rgba(5,11,22,1) 71%);
  z-index: 1;
}

.fourth__screen__work__text {
  padding-top: 20px;

}

.fourth__screen__work__text h3{
  color: #000;
  font-weight: 300;
}


.fourth__screen__work__text p{
  color: grey;
  padding-top: 5px;
  font-size: 16px;
}

.fourth__screen__work__img2 {
  background: linear-gradient(333deg, rgba(255,255,255,1) 6%, rgba(59,59,58,1) 100%);
}

.fourth__screen__work__img3 {
  background: linear-gradient(65deg, rgba(255,255,255,1) 19%, rgba(255,0,0,0.8716736694677871) 100%);
}

.fourth__screen__work__img4 {
  background: linear-gradient(301deg, rgba(255,255,255,1) 2%, rgba(0,86,179,1) 59%, rgba(7,2,33,1) 100%);
}

.fifth__screen {
  background-color: #000;
  padding: 20px;
  padding-top: 90px;
  overflow-x: hidden;
}

.fifth__screen__text h1{
  font-size: 50px;
  font-weight: 300;
  line-height: 65px;
  margin-top: 30px;
}

.fifth__screen__faqs {
  overflow-y: hidden;

}

.fifth__screen__faq {
  justify-content: space-between;
  align-items: center;
  border: 1px solid #312f2f;
  border-right: none;
  border-left: none;
  padding: 40px 0px;
}


.fifth__screen__faq p:last-child {
  width: 350px;
}

.contacts__screen {
  background-color: #000;
  padding: 20px;
  flex-wrap: wrap;
}

.contacts__screen__text {
  width: 50%;
}

.contacts__screen__link {
  width: 50%;
  justify-content: space-around;
}

.contacts__screen__link ul {
  width: 33%;

}

.contacts__screen__text p{
  width: 230px;
  padding-bottom: 40px;
}

.contacts__screen__text a{
  text-decoration: underline !important;
}

.contacts__screen__link span{
  padding-bottom: 10px;
}

.contacts__screen__link li{
  line-height: 30px;
}

.contacts__screen__link ul li:first-child {
  padding-bottom: 10px;
  font-size: 17.5px;
}

.footer__screen {
  background-color: #000;
  padding: 20px;
  padding-top: 350px;
}

.footer__screen__h1 {
  font-size: 12vw;
}

.footer__screen ul {
  justify-content: space-between;
}

::-webkit-scrollbar{display: none}


@media screen and (max-width: 1400px) {
  .fourth__screen__work__img {
    height: 350px;
  }
}

@media screen and (max-width: 1200px) {
  .first__screen__text {
    font-size: 11vw;
  }
}


@media screen and (max-width: 1000px) {
  .third_screen {
    overflow-x: hidden;
  }
  .first__screen__about__p {
    width: 392px;
    font-size: 14px;
  }
  .third_screen h1 {
    font-size: 32px;
  }
  .third_screen__texts_ul {
    width: 65%;
    padding-top: 20px;
  }
  .fourth__screen__work__img {
    height: 245px;
  }
  .fifth__screen__text h1{
    font-size: 35px;
  }
  .footer__screen__h1 {
    font-size: 11vw;
  }
}

@media screen and (max-width: 768px) {
  .first__screen__about__p {
    width: 276px;
    font-size: 12px;
  }
  .first__screen__scroll {
    margin-bottom: 20px;
  }
  .first__screen__ul li:nth-child(2) {
    display: none;
  }
  .third_screen__texts_ul {
    width: 91%;
  }
  .third_screen__texts ul:last-child{
    margin-top: 40px;
  }
  .fourth__screen__work__img {
    height: 185px;
  }
  .contacts__screen__text {
    font-size: 14px;
  }
  .contacts__screen__link ul li {
    font-size: 14px;
  }
  .contacts__screen__link ul li span {
    font-size: 15px;
  }
  .footer__screen ul li {
    font-size: 14px;
  }
  .fifth__screen__faq {
    display: block;
  }
  .fifth__screen__faq p {
    padding-top: 10px;
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .first__screen__scroll__p {
    display: none;
  }

  .third_screen__texts_ul li {
    width: 350px;
  }

  .fourth__screen__work__img img {
    width: 120%;
  }

  .fourth__screen__work__img {
    height: 130px;
  }

  .fifth__screen__text h1 {
    font-size: 25px;
  }
  .contacts__screen {
    display: block;
  }
  .contacts__screen__text p {
    padding-bottom: 10px;
  }
  .contacts__screen__link {
    margin-top: 20px;
  }
  .contacts__screen__link {
    width: 100%;
  }
  .footer__screen ul li:first-child{
    display: none;

  }
}

